<div class="form-horizontal">
    <h3>Create a new Event</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Events/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Events</h3>
    <form id="EventSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="search.name" placeholder="Enter the Event Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="mediaItem" class="col-sm-2 control-label">Media Item</label>
        <div class="col-sm-10">
            <select id="mediaItem" name="mediaItem" class="form-control" ng-model="search.mediaItem" ng-options="m as m.url for m in mediaItemList">
                <option value="">Choose a Media Item</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="category" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10">
            <select id="category" name="category" class="form-control" ng-model="search.category" ng-options="c as c.description for c in categoryList">
                <option value="">Choose a Category</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <input id="description" name="description" class="form-control" type="text" ng-model="search.description" placeholder="Enter the Event Description"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Media Item</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Events/edit/{{result.id}}">{{result.name}}</a></td>
                        <td><a href="#/Events/edit/{{result.id}}">{{result.mediaItem.url}}</a></td>
                        <td><a href="#/Events/edit/{{result.id}}">{{result.category.description}}</a></td>
                    <td><a href="#/Events/edit/{{result.id}}">{{result.description}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>