<div class="form-horizontal">
    <h3>Create a new TicketPrice</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/TicketPrices/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for TicketPrices</h3>
    <form id="TicketPriceSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="show" class="col-sm-2 control-label">Show</label>
        <div class="col-sm-10">
            <select id="show" name="show" class="form-control" ng-model="search.show" ng-options="s as s.displayTitle for s in showList">
                <option value="">Choose a Show</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="section" class="col-sm-2 control-label">Section</label>
        <div class="col-sm-10">
            <select id="section" name="section" class="form-control" ng-model="search.section" ng-options="s as s.name for s in sectionList">
                <option value="">Choose a Section</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="ticketCategory" class="col-sm-2 control-label">Ticket Category</label>
        <div class="col-sm-10">
            <select id="ticketCategory" name="ticketCategory" class="form-control" ng-model="search.ticketCategory" ng-options="t as t.description for t in ticketCategoryList">
                <option value="">Choose a Ticket Category</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Price</label>
        <div class="col-sm-10">
            <input id="price" name="price" class="form-control" type="text" ng-model="search.price" placeholder="Enter the TicketPrice Price"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Show</th>
                    <th>Section</th>
                    <th>Ticket Category</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/TicketPrices/edit/{{result.id}}">{{result.show.displayTitle}}</a></td>
                        <td><a href="#/TicketPrices/edit/{{result.id}}">{{result.section.name}}</a></td>
                        <td><a href="#/TicketPrices/edit/{{result.id}}">{{result.ticketCategory.description}}</a></td>
                    <td><a href="#/TicketPrices/edit/{{result.id}}">{{result.price}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>