<div class="form-horizontal">
    <h3>Create a new Venue</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Venues/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Venues</h3>
    <form id="VenueSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="search.name" placeholder="Enter the Venue Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="mediaItem" class="col-sm-2 control-label">Media Item</label>
        <div class="col-sm-10">
            <select id="mediaItem" name="mediaItem" class="form-control" ng-model="search.mediaItem" ng-options="m as m.url for m in mediaItemList">
                <option value="">Choose a Media Item</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <input id="description" name="description" class="form-control" type="text" ng-model="search.description" placeholder="Enter the Venue Description"></input>
        </div>
    </div>


    <div class="form-group">
        <label for="capacity" class="col-sm-2 control-label">Capacity</label>
        <div class="col-sm-10">
            <input id="capacity" name="capacity" class="form-control" type="text" ng-model="search.capacity" placeholder="Enter the Venue Capacity"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="address.street" class="col-sm-2 control-label">Street</label>
        <div class="col-sm-10">
            <input id="address.street" name="address.street" class="form-control" type="text" ng-model="search.address.street" placeholder="Enter the Venue Street"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="address.city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input id="address.city" name="address.city" class="form-control" type="text" ng-model="search.address.city" placeholder="Enter the Venue City"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="address.country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
            <input id="address.country" name="address.country" class="form-control" type="text" ng-model="search.address.country" placeholder="Enter the Venue Country"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Media Item</th>
                    <th>Description</th>
                    <th>Capacity</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Venues/edit/{{result.id}}">{{result.name}}</a></td>
                        <td><a href="#/Venues/edit/{{result.id}}">{{result.mediaItem.url}}</a></td>
                    <td><a href="#/Venues/edit/{{result.id}}">{{result.description}}</a></td>
                    <td><a href="#/Venues/edit/{{result.id}}">{{result.capacity}}</a></td>
                    <td><a href="#/Venues/edit/{{result.id}}">{{result.address.street}}</a></td>
                    <td><a href="#/Venues/edit/{{result.id}}">{{result.address.city}}</a></td>
                    <td><a href="#/Venues/edit/{{result.id}}">{{result.address.country}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>