<div class="form-horizontal">
    <h3>Create a new Booking</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Bookings/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Bookings</h3>
    <form id="BookingSearch" class="form-horizontal">
            <div class="form-group">
        <label for="totalTicketPrice" class="col-sm-2 control-label">Total Ticket Price</label>
        <div class="col-sm-10">
            <input id="totalTicketPrice" name="totalTicketPrice" class="form-control" type="text" ng-model="search.totalTicketPrice" placeholder="Enter the Booking Total Ticket Price"></input>
        </div>
    </div>




    <div class="form-group">
        <label for="cancellationCode" class="col-sm-2 control-label">Cancellation Code</label>
        <div class="col-sm-10">
            <input id="cancellationCode" name="cancellationCode" class="form-control" type="text" ng-model="search.cancellationCode" placeholder="Enter the Booking Cancellation Code"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="contactEmail" class="col-sm-2 control-label">Contact Email</label>
        <div class="col-sm-10">
            <input id="contactEmail" name="contactEmail" class="form-control" type="text" ng-model="search.contactEmail" placeholder="Enter the Booking Contact Email"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="performance" class="col-sm-2 control-label">Performance</label>
        <div class="col-sm-10">
            <select id="performance" name="performance" class="form-control" ng-model="search.performance" ng-options="p as p.displayTitle for p in performanceList">
                <option value="">Choose a Performance</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Total Ticket Price</th>
                    <th>Created On</th>
                    <th>Cancellation Code</th>
                    <th>Contact Email</th>
                    <th>Performance</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Bookings/edit/{{result.id}}">{{result.totalTicketPrice}}</a></td>
                    <td><a href="#/Bookings/edit/{{result.id}}">{{result.createdOn| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Bookings/edit/{{result.id}}">{{result.cancellationCode}}</a></td>
                    <td><a href="#/Bookings/edit/{{result.id}}">{{result.contactEmail}}</a></td>
                        <td><a href="#/Bookings/edit/{{result.id}}">{{result.performance.date| date:'medium'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>