<header ng-switch on="$location.path().indexOf('/Venues/new') > -1">
    <h3 ng-switch-when="true">Create a new Venue</h3>
    <h3 ng-switch-when="false">View or edit Venue</h3>
</header>
<form id="VenueForm" name="VenueForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': VenueForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" class="form-control" ng-model="venue.name" placeholder="Enter the Venue Name"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VenueForm.mediaItem.$invalid}">
        <label for="mediaItem" class="col-sm-2 control-label">Media Item</label>
        <div id="mediaItemControls" class="col-sm-10">
        <select id="mediaItem" name="mediaItem" class="form-control" ng-model="mediaItemSelection" ng-options="m.text for m in mediaItemSelectionList"  >
            <option value="">Choose a Media Item</option>
        </select>
        <br/>
        <img class="img-thumbnail col-md4" ng-hide="!mediaItemSelection.text" ng-src="{{mediaItemSelection.text}}" />
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VenueForm.description.$invalid}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div id="descriptionControls" class="col-sm-10">
            <input id="description" name="description" type="text" class="form-control" ng-model="venue.description" placeholder="Enter the Venue Description"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VenueForm.sections.$invalid}">
        <label for="sections" class="col-sm-2 control-label">Sections</label>
        <div id="sectionsControls" class="col-sm-10">
            <select id="sections" name="sections" multiple class="form-control" ng-model="sectionsSelection" ng-options="s.text for s in sectionsSelectionList">
                <option value="">Choose a Sections</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VenueForm.capacity.$invalid}">
        <label for="capacity" class="col-sm-2 control-label">Capacity</label>
        <div id="capacityControls" class="col-sm-10">
            <input id="capacity" name="capacity" type="number" class="form-control" ng-model="venue.capacity" placeholder="Enter the Venue Capacity"></input>
            <span class="help-block error" ng-show="VenueForm.capacity.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VenueForm.address.street.$invalid}">
        <label for="address.street" class="col-sm-2 control-label">Street</label>
        <div id="address.streetControls" class="col-sm-10">
            <input id="address.street" name="address.street" type="text" class="form-control" ng-model="venue.address.street" placeholder="Enter the Venue Street"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VenueForm.address.city.$invalid}">
        <label for="address.city" class="col-sm-2 control-label">City</label>
        <div id="address.cityControls" class="col-sm-10">
            <input id="address.city" name="address.city" type="text" class="form-control" ng-model="venue.address.city" placeholder="Enter the Venue City"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VenueForm.address.country.$invalid}">
        <label for="address.country" class="col-sm-2 control-label">Country</label>
        <div id="address.countryControls" class="col-sm-10">
            <input id="address.country" name="address.country" type="text" class="form-control" ng-model="venue.address.country" placeholder="Enter the Venue Country"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveVenue" name="saveVenue" class="btn btn-primary" ng-disabled="isClean() || VenueForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteVenue" name="deleteVenue" class="btn btn-danger" ng-show="venue.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>