<div class="form-horizontal">
    <h3>Create a new Section</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Sections/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Sections</h3>
    <form id="SectionSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="search.name" placeholder="Enter the Section Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <input id="description" name="description" class="form-control" type="text" ng-model="search.description" placeholder="Enter the Section Description"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="numberOfRows" class="col-sm-2 control-label">Number Of Rows</label>
        <div class="col-sm-10">
            <input id="numberOfRows" name="numberOfRows" class="form-control" type="text" ng-model="search.numberOfRows" placeholder="Enter the Section Number Of Rows"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="rowCapacity" class="col-sm-2 control-label">Row Capacity</label>
        <div class="col-sm-10">
            <input id="rowCapacity" name="rowCapacity" class="form-control" type="text" ng-model="search.rowCapacity" placeholder="Enter the Section Row Capacity"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="capacity" class="col-sm-2 control-label">Capacity</label>
        <div class="col-sm-10">
            <input id="capacity" name="capacity" class="form-control" type="text" ng-model="search.capacity" placeholder="Enter the Section Capacity"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="venue" class="col-sm-2 control-label">Venue</label>
        <div class="col-sm-10">
            <select id="venue" name="venue" class="form-control" ng-model="search.venue" ng-options="v as v.name for v in venueList">
                <option value="">Choose a Venue</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Number Of Rows</th>
                    <th>Row Capacity</th>
                    <th>Capacity</th>
                    <th>Venue</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Sections/edit/{{result.id}}">{{result.name}}</a></td>
                    <td><a href="#/Sections/edit/{{result.id}}">{{result.description}}</a></td>
                    <td><a href="#/Sections/edit/{{result.id}}">{{result.numberOfRows}}</a></td>
                    <td><a href="#/Sections/edit/{{result.id}}">{{result.rowCapacity}}</a></td>
                    <td><a href="#/Sections/edit/{{result.id}}">{{result.capacity}}</a></td>
                        <td><a href="#/Sections/edit/{{result.id}}">{{result.venue.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>