<header ng-switch on="$location.path().indexOf('/TicketCategories/new') > -1">
    <h3 ng-switch-when="true">Create a new TicketCategory</h3>
    <h3 ng-switch-when="false">View or edit TicketCategory</h3>
</header>
<form id="TicketCategoryForm" name="TicketCategoryForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': TicketCategoryForm.description.$invalid}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div id="descriptionControls" class="col-sm-10">
            <input id="description" name="description" type="text" class="form-control" ng-model="ticketCategory.description" placeholder="Enter the TicketCategory Description"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveTicketCategory" name="saveTicketCategory" class="btn btn-primary" ng-disabled="isClean() || TicketCategoryForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteTicketCategory" name="deleteTicketCategory" class="btn btn-danger" ng-show="ticketCategory.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>